div dialog {
  padding: 2rem;
  border-color: #ffe6b3;
  border-radius: 0.25rem;
  border-width: 1px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.blurdialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #2d2b35;
}
