form {
  display: flex;

  div {
    flex-direction: column;
    align-items: baseline;
    font-size: 14px;
    width: 40%;

    label {
      font-weight: 600;
    }
    input {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      border-radius: 0.5rem;
      border-width: 1px;

      &:hover {
        border-color: #646cff;
        cursor: pointer;
      }
      &[type="text"] {
        width: 90%;
      }
      &[type="number"] {
        width: 50%;
      }
    }
  }

  button.deletebtn{
      width: 75%;
  }
}
