/* Style for the overall todo list */
ul.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin: 2% auto;
  font-family: Arial, sans-serif;
}

/* Style for each list item */
ul.todo-list li {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px 0;
  background-color: #2d2b35;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 5vw;
}

/* Header of the list item (clickable part) */
ul.todo-list li .todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; /* Makes it clickable */
}

/* Style for item text */
ul.todo-list li span {
  flex-grow: 1;
  display: inline-block;
}

/* Strikethrough effect for completed items */
/*
ul.todo-list li.completed span {
  text-decoration: line-through;
  color: #000;
}
*/

/* Hover effect for each list item */
ul.todo-list li:hover {
  background-color: #ffe6ba;
  color: #000000;
}

/* Trash icon style */
ul.todo-list li button {
  font-size: 0.1em;
  background-color: #f02e7f;

  .trash-icon {
    color: #000;
    font-size: 2vw;
    margin: 0 2% 0 0;
    transition: color 0.3s;
  }

  &:hover {
    background-color: #000;

    .trash-icon {
      color: #f02e7f;
    }
  }
}

/* Trash icon hover effect */
ul.todo-list li .trash-icon:hover {
  color: #000;
}

/* Initially hide the details section */
ul.todo-list li .todo-details {
  display: none; /* Hide the content initially */
  padding-top: 10px;
  padding-left: 20px;
  transition: max-height 0.3s ease-out;
}

/* Show details when the item is expanded */
ul.todo-list li.open .todo-details {
  display: block;
}

/* Optional: Strikethrough effect for completed tasks */
/*
ul.todo-list li.completed {
  background-color: #8a889D;
  color: #52515e;
  text-decoration: line-through;
}
*/
