/* Style for the overall todo list */
ul.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

/* Style for each list item */
ul.todo-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  background-color: #1e1c32;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 16px;
  justify-content: space-between; /* Keeps trash icon at the right */
  cursor: pointer; /* Cursor shows clickable action on the list item */
}

/* Style for item text */
ul.todo-list li span {
  font-size: 5vw;
  color: #ffffff;
  flex-grow: 1;
  display: inline-block;
  transition:
    text-decoration 0.3s,
    color 0.3s;
}

/* Strikethrough effect for completed items */
ul.todo-list li.completed span {
  text-decoration: line-through;
  color: #bbb; /* Light gray color for completed items */
}

/* Hover effect for each list item */
ul.todo-list li:hover {
  background-color: #d4bfff;
  color: #000000;
}

/* Style for trash icon */
ul.todo-list li .trash-icon {
  cursor: pointer;
  color: #ffffff;
  font-size: 2vw;
  transition: color 0.3s;
  margin: 0 5% 0 0;
}

/* Trash icon hover effect */
ul.todo-list li .trash-icon:hover {
  color: #f02e6f;
}
